*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color:#5C85C2;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
    height: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.edutech-imagem{
    width: 15%;
}

.edutech{
    background-image: linear-gradient(#5C85C2,#87CA8D);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
}

.edutech-div-conteudo{
    width: 35%;
}
.edutech-titulo{
    padding: 24px 0;
}